// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #ff8303;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #f0e3ca;
$transparant-black: rgba(0,0,0,0.4);
$dark-brown: #1b1a17;
$pale-yellow: #f0e3ca;