body{
  background-color: $orange;
}

h1{
  margin-top: 50px;
  color: $light-gray;
  font-family: $h1-font;
  font-size: 64px;
  font-weight: bold;
  text-shadow: 6px 6px 0px $dark-brown;
}

label{
  color:$dark-brown;
}