.small-circle-button{
  position:absolute;
  top: 0px;
  right: 0px;
  padding: 4px 14px 10px;
  background-color: $dark-brown;
  color: $light-gray;
  &:hover{
    color: $orange;
  }
}

.btn-black{
	background-color: $dark-brown;
	color: $light-gray;
	border-radius: 5px;
	&:hover{
		color: $orange;
	}
}

.big-btn{
  padding: 4px 18px;
}