.card{ 
  position: relative;
  box-sizing: border-box;
  width: 20rem; 
  height: 18rem;
  margin: 15px 25px 15px 4px;
  background-size: cover;
  box-shadow: 16px 16px 0px $dark-brown;
  border: 8px solid $dark-brown;
  

  p{
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $mont-font;
    padding: 14px 14px 8px;
    margin: 0;
  }
}

.big-card{
  height: 26rem;
  width: 30rem;
  margin: 25px;
  box-shadow: 15px 15px 0px $dark-brown;
  a{
    color: $orange;
    margin: 0 auto;
  }
}

.card-dark-header{
  position: relative;
  top: 6rem;
  right: 1rem;
  display:flex;
  align-items:flex-end;
  justify-content:start;
  width: 18rem;
  padding: 5px 10px;
  background-color: $dark-brown;
  border-radius: 4px;
  
  
  a {
    color:$light-gray;
  }

  h3{
    font-family: $mont-font;
  }
}

.movie-image{
  height: 50%;
  object-fit: cover; 
  object-position: top;
}