.card{ 
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  width: 22rem; 
  height: 18rem;
  margin: 10px;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 10px $transparant-black;
  

  p{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.big-card{
  height: 26rem;
  width: 34rem;
}

.card-dark-header{
  display:flex;
  justify-content: center;
  width: 22rem;
  background-color: $transparant-black;

  a {
    color:$light-gray;
  }
}

.movie-image{
  height: 50%;
  object-fit: cover; 
  object-position: top;
}